#seekbar{
margin: 50px;
width: 600px;
}

body, html{
height: 100%;
}
.center{
display: flex;
justify-content: center;
align-items: center;
height: 100%;
flex-direction: column;
}
.dark{
background-color: black;
}

img{
width: 700px;
border-radius: 350px; 
margin-top: 3px;
}

#button{
padding: 0;
background: none;
border: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 70px; /* šířka kolečka */
  height: 70px; /* výška kolečka */
  background: #4CAF50; /* barva kolečka */
  cursor: pointer; /* změní kurzor na ukazovátko */
  border-radius: 50%; /* kulatý tvar */
}

input[type=range]::-moz-range-thumb {
  width: 70px;
  height: 70px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
}

